.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  width: 50vw;
  box-sizing: border-box;
  background-color: white;
  border-left: 6px solid #3066fc;
  border-radius: 10px;
  margin: 10px auto;
  margin-bottom: 0;
  padding: 10px;
  padding-left: 30px;
  font-size: 18px;
  
}
.box-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  width: 50vw;
  box-sizing: border-box;
  background-color: white;
  border-top: 8px solid #663ab5;
  border-radius: 10px;
  margin: 10px auto;
  margin-bottom: 0;
  padding: 10px;
  padding-left: 30px;
  font-size: 18px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  padding-top: 8px;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.custom-input-top {
  font-size: 40px;
}
.custom-input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
  transition: border-color 0.3s ease;
  margin: 0px 10px;
}

.custom-input:focus {
  border-bottom: 2px solid rgb(91, 79, 255);
  background-color: rgba(236, 246, 255, 0.534);
  color: rgb(100, 100, 100);
}
.field-options {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 30%;
  justify-content: start;
}
.add-option {
  margin: 10px;
}

input[type="file"]::file-selector-button {
  margin-top: 20px;
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 3px 7px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}
input[type="date"] {
  width: 20%;
  background-color: #0080ff;
  padding: 8px;
  font-size: 14px;
  margin-top: 10px;
  color: #ffffffd5;
  border: none;
  outline: none;
  border-radius: 5px;
}

input[type="time"] {
  color: #363636d5;
  font-size: 14px;
  width: 20%;
}
select {
  color: #363636d5;
  border: 2px solid #0080ff;
  border-radius: 5px;
  font-size: 14px;
  width: 30%;
  
}
.add-btn-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.options{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:20px;
  padding: 2px;
}
.grid-btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  margin-right: 8px;
}
.error-msg {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}
.btn-edit{
  background-color: white !important;
  color:  #adadad !important;
  border: none !important;
}
.btn-delete{
  background-color: white !important;
  color:  #adadad !important;
  border: none !important;
}
.btn-copy{
  background-color: white !important;
  color:  #adadad !important;
  border: none !important;
}
.form-check-label{
  color: #adadad;
  }
  .option-container{
    display: flex;
    margin: auto;
  }
  .btn-remove-opt{
    padding: 10px !important;
    margin:5px !important;
  }
  .save-button{
    background-color: #663ab5 !important;
    border-color: #663ab5 !important;
  }
  .btn-close-top{
    display: flex;
    align-self: flex-end;
    padding-right: 5px;
  }
  .add-btn{
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
    padding: 5px !important;
    }
    .file-field{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      font-weight: 500;
      color: #272727a9;
      
    }


@media screen and (max-width: 600px) {
  .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    width: 90vw;
    box-sizing: border-box;
    background-color: white;
    border-left: 4px solid #3066fc;
    border-radius: 10px;
    margin: 5px auto;
    padding: 10px;
    padding-bottom: 0;
    padding-left: 15px;
    font-size: 9px;
  }
  .box-top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    width: 90vw;
    box-sizing: border-box;
    background-color: white;
    border-top: 4px solid #663ab5;
    border-radius: 10px;
    margin: 5px auto;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 15px;
    font-size: 9px;
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 10px;
    margin-top: 5px;
    padding-top: 4px;
  }
  
  .input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  
  .custom-input-top {
    font-size: 20px;
  }
  .custom-input {
    padding: 3px;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 5px;
  }
  
  .custom-input:focus {
    border-bottom: 2px solid rgb(91, 79, 255);
    background-color: rgba(236, 246, 255, 0.534);
  }
  .field-options {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 30%;
    justify-content: center;
    align-items: center;
  }
  .add-option {
    margin: 5px;
    padding: 4px !important;
    font-size: 10px !important;
  }
  .field-btn{
    width: 55px;
    height: 50px;
    font-size: 8px !important;

  }
  .grid-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 8px;
  }
  .submit-button{
    font-size: 12px !important;
  }
 
  .btn-remove-opt{
    padding: 4px 10px !important;
    margin:2px !important;
  }
  
  .save-button{
    padding: 6px 10px !important;
    font-size: 12px !important;
    background-color: #663ab5 !important;
    border-color: #663ab5 !important;
  }
  .error-msg {
    color: red;
    margin-top: 2px;
    font-size: 10px;
  }
  input[type="date"] {
    width: 30%;
    background-color: #0080ff;
    padding: 4px;
    font-size: 10px;
    margin-top: 5px;
    color: #363636d5;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .add-btn{
    border-radius: 100% !important;
    width: 30px !important;
    height: 30px !important;
    padding: 1px !important;
    }
}